@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.4s ease-in-out;
  background-color: #dde1e7;
}

body.dark {
  background-color: #1d1e20;
}

.checkbox-div {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #dde1e7;
  width: 70px;
  height: 26px;
  border-radius: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  /* making the icon look neumorphism */
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.73),
    3px 3px 5px rgba(0, 0, 0, 0.29);
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.checkbox:checked + .label {
  background-color: #1d1e20;
  /* making the icon look neumorphism */
  box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.fa-moon {
  color: #f1c40f;
  position: absolute;
  top: 5px;
  right: 7px;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.3s linear;
}

.checkbox:checked + .label .fa-moon {
  transform: translateX(-40px);
  opacity: 1;
}

.fa-sun {
  color: #f39c12;
  position: absolute;
  top: 5px;
  right: 7px;
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.3s linear;
}

.checkbox:checked + .label .fa-sun {
  transform: translateX(-40px);
  opacity: 0;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: #f39c12;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.checkbox:checked + .label .ball {
  transform: translateX(43px);
  background-color: #f1c40f;
}

.container {
  /* outline: 1px solid black; */
  padding: 0.2rem;
  padding: 1rem;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.73),
  3px 3px 5px rgba(0, 0, 0, 0.29);
  border-radius: 50%;
  max-width: 100%;
}

.container.dark {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.29),
  -3px -3px 5px  rgba(255, 255, 255, 0.1);
}

.clock {
  width: 300px;
  max-width: 100%;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.73),
  3px 3px 5px rgba(0, 0, 0, 0.29);
}

.clock.dark {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.29),
  -3px -3px 5px  rgba(255, 255, 255, 0.1);
}

.clock-ampm,
.clock-date,
.clock-day {
  /* font-family: "Rajdhani", sans-serif; */
  font-family: 'Rubik', sans-serif;
}

.clock-day {
  margin-bottom: 0.5rem;
  color: #b6b7b8;
}

.clock-day.dark {
  color: #434444;
}

.clock-date {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #2c39538f;
}

.clock-date.dark {
  color: #aeafaf;
}

.clock-time {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #2c3953;
}

.clock.dark .clock-time {
  color: #d3d4d4;
}

.clock-ampm {
  font-size: 1rem;
  display: block;
  color: #dfbe3e;
  animation: blink 1s linear infinite;
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  /* 50% {
    opacity: 0.5;
  } */
  100% {
    opacity: 1;
  }
}




